<div class="footer">

    <div class="ui inverted vertical segment soz-margin-top100 foot">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="twelve wide column">
                    <h4 class="ui inverted header">
                        <a class="ui grey circular label">18</a>&nbsp;&nbsp;Les jeux d'argent et de hasard sont interdits aux mineurs.</h4>
                    <p>Pour être aidé, contactez Joueurs Infos Service au 09 47 75 13 13 (appel non surtaxé).</p>
                </div>
                <div class="four wide column soz-center">
                    <p class="large icon">
                        <a href="https://facebook.com/lesparieurscom" target="_blank">
                            <i class="facebook square icon"></i>
                        </a>
                        <a href="https://www.instagram.com/lesparieurscom/" target="_blank">
                            <i class="instagram icon"></i>
                        </a>
                        <a href="https://twitter.com/lesparieurscom/" target="_blank">
                            <i class="twitter icon"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>