.histo {
    color: #666
}

.pagination {
    text-align: center;
}

table.soz {
    margin-top: 30px !important
}


/*
.ui.inverted.vertical.footer.segment {
	margin-top:50px
}
*/

.spacer {
    margin-bottom: 40px
}

.soz-center {
    text-align: center
}

.soz-margin-top20 {
    margin-top: 20px !important
}

.soz-margin-top50 {
    margin-top: 50px !important
}

.soz-margin-top100 {
    margin-top: 100px !important
}

.large.icon {
    font-size: 2.7rem;
}

.ui.table thead th {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.odd-increase {
    background: url(images/increase.gif) 95% 0 no-repeat;
}

.odd-decrease {
    background: url(images/decrease.gif) 95% 100% no-repeat;
}


/* ---------------------------- */

.foot {
    position: absolute !important;
    bottom: 0 !important;
    width: 100%;
}

.fond {
    /* background-color: black; */
}

.front {
    /* margin-right: 20px; */
}

.wrapfront {
    background-color: white;
    border-radius: 10px;
    border: solid black;
    margin: 20px;
    padding: 10px;
}

@media only screen and (min-width: 995px) {
    .ui.fluid.selection.dropdown {
        display: none;
    }
    .ui.inverted.menu.empty {
        display: none;
    }
}

@media only screen and (max-width: 994px) {
    .ui.inverted.menu.full {
        display: none;
    }
    .ui.inverted.menu.empty {
        color: white;
    }
    /* .ui.dropdown {
        margin: 14px !important;
        background-color: #282828 !important;
        color: white !important;
        right: 3vw;
    } */
    /*
    .ui.dropdown .menu {
        background-color: #282828 !important;
        max-height: max-content !important;
    }
    .ui.dropdown .menu>.item {
        color: #d4d4d4 !important;
        border-top-width: 0px !important;
    }
    .ui.dropdown.item .menu {
        max-height: 200px !important;
    } */
}