body {
    color: black;
}

.histo {
    color: #666
}

.pagination {
    text-align: center;
}

table.soz {
    margin-top: 30px !important
}


/*
.ui.inverted.vertical.footer.segment {
	margin-top:50px
}
*/

.spacer {
    margin-bottom: 40px
}

.soz-center {
    text-align: center
}

.soz-margin-top20 {
    margin-top: 20px !important
}

.soz-margin-top50 {
    margin-top: 50px !important
}

.soz-margin-top100 {
    margin-top: 100px !important
}

.large.icon {
    font-size: 2.7rem;
}

.ui.table thead th {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.odd-increase {
    background: url(images/increase.gif) 95% 0 no-repeat;
}

.odd-decrease {
    background: url(images/decrease.gif) 95% 100% no-repeat;
}