{% extends 'includes/base.html.twig' %}

{% block body %}
    <div class="ui container">
        <div class="ui middle aligned stackable two column grid">
            <div class="column"><a href="./"><img class="ui fluid image" src="https://fakeimg.pl/650x180/282828/eae0d0/?text=logo"></a></div>
            <div class="column"><img class="ui centered image" src="https://fakeimg.pl/460x68/bbb/999/?text=ads"></div>
        </div>

    {% include 'includes/navbar.html.twig' %}
	{% block content %}{% endblock %}
    </div>
    {% include 'includes/footer.html.twig' %}
{% endblock %}