{% extends '_base.wo.html.twig' %}

{% block content %}
<h1>Comparatif des bookmakers</h1>

<p>Vous trouverez ci-dessous la liste des bookmakers par ordre de préférence selon nos critères, avec le détail prochainement pour chacun d'eux.</p>

<table class="ui compact table center aligned soz unstackable">
	<thead>
		<tr>
			<th class="one wide">#</th>
			<th class="two wide">Bookmaker</th>
			<th class="two wide">Bonus</th>
			<th class="six wide">Atouts</th>
			<th class="two wide">Note</th>
			<th class="three wide"></th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>1</td>
		<td><a href="http://bit.do/lesparieurs_parionssport" class="ui image" target="_blank"><img src="./assets/images/bookmakers/parionssport.png"></a></td>
		<td><div class="ui large header">100€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Remboursement du premier paris en cash</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Prime de parrainage disponible</div>
				</div>
			</div>
		</td>
		<td><i class="circle green icon"></i></td>
		<td><a href="http://bit.do/lesparieurs_parionssport" class="fluid ui primary button" target="_blank">Obtenir le bonus</a></td>
	</tr>
	<tr>
		<td>2</td>
		<td><img src="./assets/images/bookmakers/winamax.png"></td>
		<td><div class="ui large header">100€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Remboursement du premier paris en cash</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Excellentes cotes, notamment en football</div>
				</div>
			</div>
		</td>
		<td><i class="circle green icon"></i></td>
		<td><div class="fluid ui button">Obtenir le bonus</div></td>
	</tr>
	<tr>
		<td>3</td>
		<td><a href="http://bit.do/lesparieurs_betclic" class="ui image" target="_blank"><img src="./assets/images/bookmakers/betclic.png"></a></td>
		<td><div class="ui large header">100€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Bonus attribué même si votre pari est gagnant</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">« Cash out » pour garder le contrôle sur vos paris</div>
				</div>
			</div>
		</td>
		<td><i class="circle green icon"></i></td>
		<td><a href="http://bit.do/lesparieurs_betclic" class="fluid ui primary button" target="_blank">Obtenir le bonus</a></td>
	</tr>
	<tr>
		<td>4</td>
		<td><a href="http://bit.do/lesparieurs_unibet" class="ui image" target="_blank"><img src="./assets/images/bookmakers/unibet.png"></a></td>
		<td><div class="ui large header">100€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Streaming de nombreuses compététions</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Cotes très compétitives</div>
				</div>
			</div>
		</td>
		<td><i class="circle green icon"></i></td>
		<td><a href="http://bit.do/lesparieurs_unibet" class="fluid ui primary button" target="_blank">Obtenir le bonus</a></td>
	</tr>
	<tr>
		<td>5</td>
		<td><a href="http://bit.do/lesparieurs_zebet" class="ui image" target="_blank"><img src="./assets/images/bookmakers/zebet.png"></a></td>
		<td><div class="ui large header">150€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Parmi les meilleures cotes du marché</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Programme de fidélité intéressant</div>
				</div>
			</div>
		</td>
		<td><i class="circle olive icon"></i></td>
		<td><a href="http://bit.do/lesparieurs_zebet" class="fluid ui primary button" target="_blank">Obtenir le bonus</a></td>
	</tr>
	<tr>
		<td>6</td>
		<td><a href="http://bit.do/lesparieurs_netbet" class="ui image" target="_blank"><img src="./assets/images/bookmakers/netbet.png"></a></td>
		<td><div class="ui large header">200€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Promotions régulières</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Plus gros bonus du marché</div>
				</div>
			</div>
		</td>
		<td><i class="circle olive icon"></i></td>
		<td><a href="http://bit.do/lesparieurs_netbet" class="fluid ui primary button" target="_blank">Obtenir le bonus</a></td>
	</tr>
	<tr>
		<td>7</td>
		<td><img src="./assets/images/bookmakers/bwin.png"></td>
		<td><div class="ui large header">120€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Streaming de nombreuses compététions</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Hotline téléphonique ouverte 7 jours sur 7</div>
				</div>
			</div>
		</td>
		<td><i class="circle olive icon"></i></td>
		<td><div class="fluid ui button">Obtenir le bonus</div></td>
	</tr>
	<tr>
		<td>8</td>
		<td><img src="./assets/images/bookmakers/pmu.png"></td>
		<td><div class="ui large header">100€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">« Cash out » pour garder le contrôle sur vos paris</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Nombreux concours pour gagner lots et bonus</div>
				</div>
			</div>
		</td>
		<td><i class="circle olive icon"></i></td>
		<td><div class="fluid ui button">Obtenir le bonus</div></td>
	</tr>
	<tr>
		<td>9</td>
		<td><a href="http://bit.do/lesparieurs_genybet" class="ui image" target="_blank"><img src="./assets/images/bookmakers/genybet.png"></a></td>
		<td><div class="ui large header">50€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Plusieurs formats de grilles</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Jusqu'à 250€ de bonus avec le turf</div>
				</div>
			</div>
		</td>
		<td><i class="circle olive icon"></i></td>
		<td><a href="http://bit.do/lesparieurs_genybet" class="fluid ui primary button" target="_blank">Obtenir le bonus</a></td>
	</tr>
	<tr>
		<td>10</td>
		<td><img src="./assets/images/bookmakers/betstars.png"></td>
		<td><div class="ui large header">70€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Offre de bonus intéressante pour les petits budgets</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">« Spin &amp; Bet » permet d'augmenter ses gains</div>
				</div>
			</div>
		</td>
		<td><i class="circle olive icon"></i></td>
		<td><div class="fluid ui button">Obtenir le bonus</div></td>
	</tr>
	<tr>
		<td>11</td>
		<td><img src="./assets/images/bookmakers/france-pari.png"></td>
		<td><div class="ui large header">200€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Fantasy game (FP manager) et grilles</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Bonus soumis à trop de conditions</div>
				</div>
			</div>
		</td>
		<td><i class="circle yellow icon"></i></td>
		<td><div class="fluid ui button">Obtenir le bonus</div></td>
	</tr>
	<tr>
		<td>12</td>
		<td><img src="./assets/images/bookmakers/joa.png"></td>
		<td><div class="ui large header">150€</div></td>
		<td>
			<div class="ui list left aligned">
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Pire bonus du marché</div>
				</div>
				<div class="item">
					<i class="right triangle icon"></i>
					<div class="content">Programme de fidélité et de parrainage</div>
				</div>
			</div>
		</td>
		<td><i class="circle yellow icon"></i></td>
		<td><div class="fluid ui button">Obtenir le bonus</div></td>
	</tr>
	</tbody>
</table>
{% endblock %}
