{% extends '_base.wo.html.twig' %}

{% block content %}
	<div class="ui center aligned header">Se connecter</div>
	<div class="content">
		<form class="ui form">
			<div class="field">
				<label>Email</label>
				<input type="text">
			</div>
			<div class="field">
				<label>Mot de passe (<a href="./?recovery">oublié ?</a>)</label>
				<input type="password">
			</div>
			<br>
			<button class="fluid ui button">Se connecter</button>
		</form>
		<h5 class="ui horizontal divider header">
			ou avec
		</h5>
		<br>
		<div class="ui equal width grid">
			<div class="column">
				<button class="fluid ui facebook button">
					<i class="facebook f icon"></i>
					Facebook</button>
			</div>
		</div>
	</div>
	<div class="actions">
		Pas encore de compte ?
		<a href="#" onclick="ajaxModalbox('signup')">Inscrivez-vous</a>.
	</div>

{% endblock %}
