{% extends '_base.wo.html.twig' %} {% block content %}
<div class="ui grid ">
    <div class="row">
        <div class="six wide computer sixteen wide mobile column right floated front">
            <div class="wrapfront">
                <div class="ui center aligned header">Réintialisation de votre mot de passe</div>
                <div class="content">
                    <form class="ui form">
                        <div class="field">
                            <label>Email</label>
                            <input type="text">
                        </div>
                        <br>
                        <button class="fluid ui button">Réintialisation</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}